{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Login</h2>
  
  <form method="POST" class="w-50 mx-auto border p-4 rounded shadow-sm bg-light">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success w-100">Login</button>
  </form>
</div>
{% endblock %}


