{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Your Profile</h2>
  <ul class="list-group">
    <li class="list-group-item"><strong>Username:</strong> {{ request.user.username }}</li>
    <li class="list-group-item"><strong>Email:</strong> {{ request.user.email }}</li>
    <li class="list-group-item"><strong>Phone:</strong> {{ profile.phone }}</li>
    <li class="list-group-item"><strong>Address:</strong> {{ profile.address }}</li>
  </ul>
  <a href="{% url 'update_profile' %}" class="btn btn-warning mt-3">Edit Profile</a>
</div>
{% endblock %}


